/* Myriad Pro  add */
@font-face {
  font-family: "Myriad Pro";
  src: url("../css/fonts/Myriad Pro Regular.ttf") format("ttf");
}
/* myriad-hebrew add */
@font-face {
  font-family: "Myriad Hebrew";
  src: url("../css/fonts/myriad-hebrew-4.otf") format("otf");
}
/* Nexa bold */
@font-face {
  font-family: "Nexa-Bold";
  src: url("../css/fonts/._Nexa-Bold.otf") format("otf");
}
/* Nexa light*/
@font-face {
  font-family: "Nexa-Light";
  src: url("../css/fonts/._Nexa-Light.otf") format("otf");
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #333333;
  font-family: "Poppins", sans-serif;
}

/*a:hover {text-decoration: none;}*/
button {
  cursor: pointer;
}

a:focus, button, button:focus, input, input:focus, textarea, textarea:focus {
  outline: 0;
}

a, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

img {
  height: auto;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*Input Placeholder*/
*::-moz-placeholder {
  color: #1c1c21;
  font-size: 14px;
  opacity: 1;
}

*::placeholder {
  color: #1c1c21;
  font-size: 14px;
  opacity: 1;
}

/*Content Selection*/
*::-moz-selection {
  background: #1c1c21;
  color: #ffffff;
  text-shadow: none;
}

*::selection {
  background: #1c1c21;
  color: #ffffff;
  text-shadow: none;
}

/*BG Color*/
.bg-black {
  background-color: #151515;
}

.bg-blue {
  background-color: #0066ff;
}

.bg-gray {
  background-color: #6c757d;
}

/* Margin Classes */
/*Margin Top*/
.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-70 {
  margin-top: 70px;
}

/*Margin Right*/
.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-35 {
  margin-right: 35px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-45 {
  margin-right: 45px;
}

.mr-50 {
  margin-right: 50px;
}

/*Margin Bottom*/
.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

/*Margin Left*/
.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-45 {
  margin-left: 45px;
}

.ml-50 {
  margin-left: 50px;
}

/* Padding Classes */
/*Padding Top*/
.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

/*Padding Right*/
.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-25 {
  padding-right: 25px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-35 {
  padding-right: 35px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-45 {
  padding-right: 45px;
}

.pr-50 {
  padding-right: 50px;
}

.pr-55 {
  padding-right: 55px;
}

.pr-60 {
  padding-right: 60px;
}

.pr-65 {
  padding-right: 65px;
}

.pr-70 {
  padding-right: 70px;
}

.pr-75 {
  padding-right: 75px;
}

.pr-80 {
  padding-right: 80px;
}

.pr-85 {
  padding-right: 85px;
}

.pr-90 {
  padding-right: 90px;
}

.pr-95 {
  padding-right: 95px;
}

/*Padding Bottom*/
.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

/*Padding Left*/
.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-35 {
  padding-left: 35px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-45 {
  padding-left: 45px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-55 {
  padding-left: 55px;
}

.pl-60 {
  padding-left: 60px;
}

.pl-65 {
  padding-left: 65px;
}

.pl-70 {
  padding-left: 70px;
}

.pl-75 {
  padding-left: 75px;
}

.pl-80 {
  padding-left: 80px;
}

.pl-85 {
  padding-left: 85px;
}

.pl-90 {
  padding-left: 90px;
}

.pl-95 {
  padding-left: 95px;
}

.custom-btn {
  background-color: #29b6f6;
  color: green;
  font-size: 12px;
  font-family: "Myriad Hebrew", sans-serif;
  font-weight: 400;
  width: 100%;
  border: 1px solid #ff3251;
  display: block;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  padding: 15px 20px;
  border: none;
}
.custom-btn:hover, .custom-btn:focus {
  background-color: #000000;
  color: #ffffff;
  border-color: #FFEF44;
}

h1 {
  font-style: normal;
  font-size: 80px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h2 {
  font-style: normal;
  font-size: 60px;
  font-family: "Nexa-Bold", sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

h3 {
  font-size: 45px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 0.533;
}

h4 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
}

h5 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h6 {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #888888;
}

a {
  text-decoration: none;
}

/* ==========================================================================
  >  start header section
  ========================================================================== */
.fa-caret-down {
  display: none !important;
}

.header-top {
  padding: 18px 0;
  border-bottom: 1px solid lightgray;
  width: 100%;
  height: auto;
}
.header-top a {
  font-size: 14px;
  font-family: "Myriad Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #111111;
}

.header-right select {
  border: 1px solid white;
}

/*search icon design*/
.fa-search {
  padding-bottom: 5px;
}

.search-form .form-group {
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid white;
}

.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display: block;
}

.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}

.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}

.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}

.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}

.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}

.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}

/*end search icon design*/
/*  *********************************
  > style the slider-section
   ********************************* */
.carousel-btn {
  background-color: #29b6f6;
  color: #ffffff;
  font-size: 0px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  width: auto;
  border: 1px solid #ff3251;
  display: block;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  border-radius: 4px;
  padding: 10px 27px 10px 27px !important;
  margin: 54px auto 0 auto;
  font-size: 12px;
  display: inline-block;
  border: 2px solid #29b6f6;
  font-weight: 400;
}
.carousel-btn:hover, .carousel-btn:focus {
  background-color: #128712;
  color: #ffffff;
  border-color: #FFEF44;
}

.carousel-btn2 {
  background-color: transparent;
  color: #ffffff;
  font-size: 0px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  width: auto;
  border: 1px solid #ff3251;
  display: block;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  border-radius: 4px;
  padding: 10px 27px 10px 27px !important;
  margin: 54px auto 0 auto;
  font-size: 12px;
  display: inline-block;
  border: 2px solid white;
  font-weight: 400;
}
.carousel-btn2:hover, .carousel-btn2:focus {
  background-color: #128712;
  color: #ffffff;
  border-color: #FFEF44;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}

.carousel-caption {
  margin-bottom: 300px;
}
.carousel-caption h1 {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
}
.carousel-caption h2 {
  font-size: 60px;
  font-weight: 700;
  text-transform: capitalize;
}

/* ==========================================================================
  >  start welcome-section
  ========================================================================== */
.welcome-section {
  padding: 126px 0px 117px 0px;
}
.welcome-section h3 {
  padding: 0px 0px 67px 0px;
}

.card {
  border: 1px solid white;
  min-height: 371px;
  width: 371px;
}
.card .card-img-top {
  width: 40%;
  padding: 52px 0px 0px 0px;
}
.card .numerous-awards {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.card h4 {
  margin: 5px 0px 18px 0px;
}

.quality {
  background-color: #f4f4f4;
}

/* ==========================================================================
  > start products-arrival
  ========================================================================== */
.products-arrival .man {
  background-color: #f8f8f8;
}
.products-arrival .man2 {
  background-color: #e4e5e9;
}
.products-arrival img {
  padding: 0px 200px 0px 0px;
  height: 350px;
}
.products-arrival .product-caption h2 {
  margin-top: -300px;
  font-family: "Nexa-Bold", sans-serif;
}
.products-arrival .product-caption span {
  color: #128712;
  font-family: "Nexa-Light", sans-serif;
  font-size: 70px;
  font-weight: 400;
}
.products-arrival .product-caption h5 {
  margin-top: -20px;
}

.new-arrival {
  background-color: grey;
}
.new-arrival img {
  background-color: grey !important;
}

/* ==========================================================================
  >  start products
  ========================================================================== */
.products {
  padding: 120px 0px 0px 0px;
}
.products h3 {
  padding: 0px 0px 42px 0px;
}
.products a {
  color: #111111;
}

.tab-content img {
  padding: 0px 0px 0px 0px;
}
.tab-content .product-description h6 {
  padding: 20px 0px 7px 0px;
  text-align: center;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #ffb327;
  background-color: transparent;
}

/* ==========================================================================
  >  start promotion
  ========================================================================== */
.promotion {
  padding: 130px 0px 0px 0px;
}

.promotion-body {
  background-color: #f4f4f6;
}
.promotion-body h5 {
  font-size: 20px;
  margin: 40px 100px 0px 0px;
}

.promotion-content {
  padding: 80px 0px 75px 0px;
}

/* ==========================================================================
  >start news and blogs
  ========================================================================== */
.news a {
  text-decoration: none;
}
.news h3 {
  padding: 120px 0px 59px 0px;
}
.news .card {
  padding: 0px 0px 113px 0px;
}
.news .card img {
  padding: 0px 10px 0px 10px;
}
.news .card img:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
}
.news .lookbook {
  color: #ffb327;
}

.pixel-creative {
  padding: 7px 0px 16px 0px;
}
.pixel-creative a {
  color: #999999;
}

.news-social-icon {
  padding: 29px 0px 0px 0px;
}
.news-social-icon a {
  color: #aaaaaa;
}
.news-social-icon .fa-twitter {
  color: #ffb327;
}
.news-social-icon .view-more {
  color: #ffb327;
}

/* ==========================================================================
  >  start img-gallery
  ========================================================================== */
.gallery-image .card {
  height: 220px;
}
.gallery-image .shoe {
  background-color: #f3f3f3;
}
.gallery-image .bag {
  background-color: #f2f2f2;
}
.gallery-image .man {
  background-color: #f3f3f3;
}
.gallery-image .glass {
  background-color: #f4f4f4;
}
.gallery-image .under {
  background-color: #f8f8f8;
}
.gallery-image .women {
  background-color: #f4f2f3;
}
.gallery-image .lungi {
  background-color: #f9f9f9;
}

/* ==========================================================================
  > start footer-up section
  ========================================================================== */
.footer {
  padding: 100px 0px 0px 0px;
}

.footer-up .form-control {
  border: 1px solid white !important;
  background-color: #ffffff;
}

.footer-center h6 {
  color: #111111;
  padding: 50px 0px 56px 0px;
  line-height: 1.5;
}
.footer-center .social-icon a {
  font-size: 22px;
  color: #000000;
  padding: 0px 0px 95px 18px;
  text-decoration: none;
}

.footer-down {
  padding: 0px 0px 95px 0px;
}
.footer-down p {
  padding: 0px 0px 23px 0px;
}
.footer-down a {
  color: #111111;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
