/* ==========================================================================
  >  start header section
  ========================================================================== */
.fa-caret-down{
  display: none !important;
}
.header-top{
  padding:18px 0;
  border-bottom: 1px solid lightgray;
  width: 100%;
  height: auto;

    a{
      font-size: $base-font-size; // 14px
      font-family: $myriad-pro;
      font-style: normal;
      font-weight: $regular;
      color: rgb(17, 17, 17);
    }
}

.header-right{
 select{
   border:1px solid white;
 }
}

/*search icon design*/
input[type=text] {
  width: 30px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100px;
}

/*end search icon design*/

/*  *********************************
  > style the slider-section
   ********************************* */
.carousel-btn{
  @include btn($dark-blue, $white, 0px, $myriad-pro, $regular, auto, #ff3251, $light-green, $white, #FFEF44);
  border-radius: 4px;
  padding: 10px 27px 10px 27px !important;
  margin: 54px auto 0 auto;
  font-size: 12px;
  display: inline-block;
  border: 2px solid $dark-blue;
  font-weight: 400;
}
.carousel-btn2{
  @include btn($transparent, $white, 0px, $myriad-pro, $regular, auto, #ff3251, $light-green, $white, #FFEF44);
  border-radius: 4px;
  padding: 10px 27px 10px 27px !important;
  margin: 54px auto 0 auto;
  font-size: 12px;
  display: inline-block;
  border: 2px solid white;
  font-weight: 400;
}
.carousel-inner img {
  width: 100%;
  height: auto;
}
.carousel-caption{
  margin-bottom:300px;
  h1{
    font-family:$myriad-pro;
    font-weight: $regular;
  }
  h2{
    font-size: 60px;
    font-weight: $bold;
    text-transform: capitalize;
  }
}
 /* ==========================================================================
   >  start welcome-section
   ========================================================================== */
.welcome-section{
  padding:126px 0px 117px 0px;
  h3{
    padding:0px 0px 67px 0px;
  }
}
.card{
  border:1px solid white;
  min-height: 371px;
  width: 371px;
  .card-img-top {
    width:40%;
    padding: 52px 0px 0px 0px;
  }
  .numerous-awards{
    font-family: $roboto;
    font-weight: $bold;
  }
  h4{
   margin:5px 0px 18px 0px;
  }

}
.quality{
  background-color: $bg-grey;
}
/* ==========================================================================
  > start products-arrival
  ========================================================================== */
.products-arrival{
 .man{
   background-color: #f8f8f8;
 }
  .man2{
    background-color: #e4e5e9;
  }
  img{
    padding:0px 200px 0px 0px;
    height:350px;
  }
  .product-caption{
      h2{
     margin-top:-300px;
        font-family: $nexa-bold;
      }
    span{
      color:$light-green;
      font-family: $nexa-light;
      font-size: 70px;
      font-weight: $regular;
    }
    h5{
      margin-top:-20px;
    }
  }
}
.new-arrival{
  background-color: grey;
  img{
    background-color: grey !important;
  }
}
/* ==========================================================================
  >  start products
  ========================================================================== */
.products{
  padding:120px 0px 0px 0px;
  h3{
    padding:0px 0px 42px 0px;
  }
  a{
   color:#111111;
  }
}
.tab-content{
  img{
    padding: 0px 0px 0px 0px;
  }
  .product-description{
  h6{
    padding:20px 0px 7px 0px;
    text-align: center;
  }
  }
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #ffb327;
  background-color:$transparent;
}

/* ==========================================================================
  >  start promotion
  ========================================================================== */
.promotion{
  padding:130px 0px 0px 0px;
}
 .promotion-body{
   background-color: #f4f4f6;
   h5{
     font-size:20px;
     margin:40px 100px 0px 0px;
   }
 }
.promotion-content{
  padding:80px 0px 75px 0px;
}

/* ==========================================================================
  >start news and blogs
  ========================================================================== */
.news{
  a{
    text-decoration: none;
  }
  h3{
   padding:120px 0px 59px 0px;
  }
  .card{
    padding:0px 0px 113px 0px;
    img{
      padding:0px 10px 0px 10px;
      &:hover{
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1);
      }
    }

  }
  .lookbook{
    color:#ffb327;
  }
}
.pixel-creative{
  padding:7px 0px 16px 0px;
  a{
    color: rgb(153, 153, 153);
  }
}
.news-social-icon{
  padding:29px 0px 0px 0px;
  a{
    color: rgb(170, 170, 170);
  }
  .fa-twitter{
    color:#ffb327;
  }
  .view-more{
    color:#ffb327;
  }
}
/* ==========================================================================
  >  start img-gallery
  ========================================================================== */
.gallery-image{
  .card{
    height: 220px;
  }

  .shoe{
    background-color: #f3f3f3;
  }
  .bag{
    background-color: #f2f2f2;
  }
  .man{
    background-color: #f3f3f3;

  }
.glass{
  background-color: #f4f4f4;
}
  .under{
    background-color: #f8f8f8;
  }
  .women{
    background-color: #f4f2f3;
  }
  .lungi{
    background-color: #f9f9f9;
  }
}


/* ==========================================================================
  > start footer-up section
  ========================================================================== */
.footer{
padding:100px 0px 0px 0px;
}
.footer-up{
  h5{

  }
  .form-control{
  border :1px solid white !important;
    background-color: $white;
  }

}
.footer-center{
  h6{
   color: rgb(17, 17, 17);
    padding:50px 0px 56px 0px;
    line-height: 1.5;
  }
  .social-icon{
    a{
      font-size:22px;
      color:$black;
      padding: 0px 0px 95px 18px;
      text-decoration: none;
    }
  }
}
.footer-down{
  padding:0px 0px 95px 0px;
  p{
    padding: 0px 0px 23px 0px;
  }
  a{
    color: rgb(17, 17, 17);
    text-decoration: none;
  }
}